# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.properties

# Local configuration file
local.properties

# IDE
.idea/
*.iml

# Mac/Linux
.DS_Store

# Windows
Thumbs.db

# Kotlin/Java
*.class

# Log files
*.log